In [9]:
%pip install pandas, -q
%pip install openpyxl -q
import pandas as pd

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: 'pandas,'

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
histo1 = pd.read_excel("data/Histo vente PMI 1er semestre 2024.xlsx")
histo2 = pd.read_excel("data/Histo vente PMI 2eme semestre 2024.xlsx")

In [12]:
histo1.head()

,Etablissement,Grde Fam,Fam,Sous Fam,Abrégé,Référence,Cmde,Ligne,Ligne soldée,Code,...,Créé le,Livraison souhaitée,A livrer le,Etat livraison,Total Livrée,Reste A Livrer,Dernière Livraison,Avancement,OTD Rate,Responsable production
0,Prince Medical Industry,Gynécologique,Inserteurs,NaN,Prince Medical SAS,NaN,1761,1,False,NT380,...,2024-08-02 08:28:42,2024-10-05,2024-10-05,Terminée,10000,0,2024-10-12,1.0,NaN,NaN
1,Prince Medical Industry,Gynécologique,Inserteurs,NaN,Prince Medical SAS,NaN,1761,2,False,NT380,...,2024-08-02 08:28:42,2024-11-02,2024-11-02,Terminée,10000,0,2024-10-26,1.0,1.0,NaN
2,Prince Medical Industry,Gynécologique,Inserteurs,NaN,Prince Medical SAS,NaN,1761,3,False,NT380,...,2024-08-02 08:28:42,2024-12-07,2024-12-07,Terminée,10000,0,2024-11-16,1.0,1.0,NaN
3,Prince Medical Industry,Sous traitance,Tubes PFM,NaN,Prince Medical SAS,NaN,1865,2,False,MN1820000,...,2024-09-05 12:13:12,2024-09-05,2024-11-02,Terminée,4066,-66,2024-10-26,1.0,1.0,365.0
4,Prince Medical Industry,Sous traitance,Tubes PFM,NaN,Prince Medical SAS,NaN,2095,1,False,MN1820000,...,2024-10-22 15:20:08,2024-11-02,2024-11-02,Terminée,2000,0,2024-11-01,1.0,1.0,365.0

In [13]:
histo2.head()

,Etablissement,Grde Fam,Fam,Sous Fam,Abrégé,Référence,Cmde,Ligne,Ligne soldée,Code,...,Créé le,Livraison souhaitée,A livrer le,Etat livraison,Total Livrée,Reste A Livrer,Dernière Livraison,Avancement,OTD Rate,Responsable production
0,Prince Medical Industry,Gynécologique,Inserteurs,NaN,Prince Medical SAS,NaN,1761,1,False,NT380,...,2024-08-02 08:28:42,2024-10-05,2024-10-05,Terminée,10000,0,2024-10-12,1.0,NaN,NaN
1,Prince Medical Industry,Gynécologique,Inserteurs,NaN,Prince Medical SAS,NaN,1761,2,False,NT380,...,2024-08-02 08:28:42,2024-11-02,2024-11-02,Terminée,10000,0,2024-10-26,1.0,1.0,NaN
2,Prince Medical Industry,Gynécologique,Inserteurs,NaN,Prince Medical SAS,NaN,1761,3,False,NT380,...,2024-08-02 08:28:42,2024-12-07,2024-12-07,Terminée,10000,0,2024-11-16,1.0,1.0,NaN
3,Prince Medical Industry,Sous traitance,Tubes PFM,NaN,Prince Medical SAS,NaN,1865,2,False,MN1820000,...,2024-09-05 12:13:12,2024-09-05,2024-11-02,Terminée,4066,-66,2024-10-26,1.0,1.0,365.0
4,Prince Medical Industry,Sous traitance,Tubes PFM,NaN,Prince Medical SAS,NaN,2095,1,False,MN1820000,...,2024-10-22 15:20:08,2024-11-02,2024-11-02,Terminée,2000,0,2024-11-01,1.0,1.0,365.0

In [14]:
columns_1 = set(histo1.columns)
columns_2 = set(histo2.columns)
only_in_histo1 = columns_1 - columns_2
only_in_histo2 = columns_2 - columns_1

In [17]:
only_in_histo1, only_in_histo2

(set(), set())

In [16]:
histo= pd.concat([histo1, histo2], ignore_index=True)

In [18]:
histo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Etablissement           400 non-null    object
 1   Grde Fam                398 non-null    object
 2   Fam                     396 non-null    object
 3   Sous Fam                282 non-null    object
 4   Abrégé                  400 non-null    object
 5   Référence               0 non-null      float64
 6   Cmde                    400 non-null    int64
 7   Ligne                   400 non-null    int64
 8   Ligne soldée            400 non-null    bool
 9   Code                    400 non-null    object
 10  Réf rég                 388 non-null    object
 11  Désignation             400 non-null    object
 12  Qtte cmdée              400 non-null    int64
 13  Créé le                 400 non-null    datetime64[ns]
 14  Livraison souhaitée     384 non-null    datetime64[ns]
 15  A livrer le             400 non-null    datetime64[ns]
 16  Etat livraison          400 non-null    object
 17  Total Livrée            400 non-null    int64
 18  Reste A Livrer          400 non-null    int64
 19  Dernière Livraison      400 non-null    datetime64[ns]
 20  Avancement              400 non-null    float64
 21  OTD Rate                332 non-null    float64
 22  Responsable production  386 non-null    float64
dtypes: bool(1), datetime64[ns](4), float64(4), int64(5), object(9)
memory usage: 69.3+ KB

In [19]:
histo.to_excel("data/Histo vente PMI 2024.xlsx", index=False)

In [21]:
df_hist = pd.read_excel('data/Histo vente PMI 2021 au 2023.xlsx')
df_2024 = pd.read_excel('data/Histo vente PMI 2024.xlsx')

# Print column names
print("2021–2023 Columns:", df_hist.columns.tolist())
print("2024 Columns:", df_2024.columns.tolist())

2021–2023 Columns: ['Commande', 'Cmde Date', 'Saisi le', 'Saisi par', 'Famille', 'Reference', 'Designation', 'Date confirmée', 'Qtte Cmdée', 'Qtte Envoi Cumulée', 'Qtte Envoi à Temps', 'Reste à livrer', 'Avancement Cmde', 'Taux de service', 'AvancementGlobalCommande', 'LigneCMDE_Bloque', 'LigneCMDE_Prix_U']
2024 Columns: ['Etablissement', 'Grde Fam', 'Fam', 'Sous Fam', 'Abrégé', 'Référence', 'Cmde', 'Ligne', 'Ligne soldée', 'Code', 'Réf rég', 'Désignation', 'Qtte cmdée', 'Créé le', 'Livraison souhaitée', 'A livrer le', 'Etat livraison', 'Total Livrée', 'Reste A Livrer', 'Dernière Livraison', 'Avancement', 'OTD Rate', 'Responsable production']